<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <u><a style="text-decoration: none;color:white;" href="{{url_for('add_user_product')}}"><h1
                    class="display-4 fw-bolder">Create your
                beast</h1></a></u>
            <p class="lead fw-normal text-white-50 mb-0">Or choose the one you like</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-5">
                <a href="{{ url_for('product_page',id=product.id) }}" style="text-decoration: none;color:black;">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img" src="{{'static/product_images/'+product.images[0].name}}" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.name}} {% if current_user.is_admin %}
                                    <a href="{{ url_for('update',id=product.id) }}"
                                       style="text-decoration: none;color:red;"><i
                                            class="fa-solid fa-pen-to-square"></i></a>
                                    <a
                                            href="{{ url_for('delete',id=product.id) }}"
                                            style="text-decoration: none;color:black;">⛔</a>
                                    {% endif %}</h5>

                                <!-- Product price-->
                                {{product.price}}$
                            </div>
                        </div>
                        <!-- Product actions-->
                        <!--                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
                        <!--                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
                        <!--                            </div>-->
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include "footer.html" %}
</body>
</html>
