{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<section class="vh-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center h-100">
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Date
                            <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal"
                                    data-bs-target="#dateRangeModal">Select range
                            </button>
                        </th>
                        <th scope="col">Shipping Price</th>
                        <!--                        <th scope="col">Payment Method</th>-->
                        <th scope="col">Goods</th>

                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.user.email }}</td>
                        <td>{{ order.total_price }}</td>
                        <td>{{ order.phone_number }}</td>
                        <td>{{ order.address }}</td>
                        <td>{{ order.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>{{ order.shipping_price }}</td>
                        <!--                        <td>{{ order.payment_method }}</td>-->
                        <td>
                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                    data-bs-target="#order{{order.id}}Modal">
                                Browse goods
                            </button>
                        </td>
                        <td>
                            <a style="text-decoration: none;color:black;"
                               href="{{ url_for('send_order',order_id=order.id) }}" data-toggle="tooltip"
                               data-placement="top" title="Send order"><i class="fa-solid fa-check"></i></a>
                            <a style="text-decoration: none;color:black;" class="ms-4"
                               href="{{ url_for('delete_order',order_id=order.id) }}" data-toggle="tooltip"
                               data-placement="top" title="Delete order"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if orders|length > 0 %}
                <div class="d-flex justify-content-center">
                    <button onclick="location.href='{{ url_for('generate_report', start_date=start_date, end_date=end_date)}}'"
                            class="btn btn-dark">Make an report
                    </button>
                </div>
                {% else %}
                <div class="d-flex justify-content-center">
                    <h1 class="m-3">No orders!</h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% for order in orders %}
    <div class="modal fade modal-lg" id="order{{order.id}}Modal" tabindex="-1"
         aria-labelledby="order{{order.id}}ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="order{{order.id}}ModalLabel">Products</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="p-3">
                        <div class="card p-2 mt-2 mb-2 text-bg-dark" id="productList">
                            <div class="row mt-2 mb-2">
                                <div class="col-4">
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <label>Name</label>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <label>Quantity</label>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <label>Price</label>
                                </div>
                                <hr/>
                            </div>
                            {% for product_association in order.products %}
                            <div class="row mt-2 mb-2">
                                <div class="col-4">
                                    <img src="static/product_images/{{product_association.product.images[0].name}}"
                                         class="img-thumbnail d-block w-100"
                                         style="width: 200px; height: 200px; object-fit: contain;">
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    {{product_association.product.name}}
                                    <i class="fa-solid fa-circle-question fa-sm tt ms-1"
                                       data-bs-placement="bottom"
                                       title="{% for part in product_association.product.parts %}{{ part.name+'\n' }}{% endfor %}"
                                       style="color: white;"></i>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    {{product_association.quantity}}
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    {{product_association.product.price}}$
                                </div>
                            </div>
                            {% if loop.index != order.products|length %}
                            <hr/>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% set ns = namespace(total=0) %}
                    {% for product in order.products %}
                    {% set ns.total = ns.total + (product.product.price * product.quantity) %}
                    {% endfor %}
                    <h3 style="color: red;">Total is: {{ns.total}}$</h3>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{{url_for('orders')}}" method="get">

        <div class="modal fade modal-md" data-bs-backdrop="static" data-bs-keyboard="false" id="dateRangeModal"
             tabindex="-1"
             aria-labelledby="dateRangeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Select date range</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Select"></button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="p-3">
                            <div class="card p-2 mt-2 mb-2 text-bg-dark">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label for="start_date">Start Date:</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="date" id="start_date" name="start_date">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="end_date">End Date:</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="date" id="end_date" name="end_date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Select
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% include "footer.html" %}
{% endblock %}
