{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4">

                            <h2 style="color: green;">Purchase is successful! Your order will be sent soon.</h2>
                            <div>
                                <p class="mb-0"><a href="{{url_for('home')}}"
                                                   class="text-white-50 fw-bold">Go home</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}
{% endblock %}
